{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Hello! From yamaan faraz!</h1>
    <h4>Sorry! Currently, Our Free Course in which you don't need a penny is in development.</h4>
    <h4>But Since we don't want you to be sad, you can visit <a href="https://mail.google.com/mail/u/0/#inbox">farazyamaaan@gmail.com</a> and mail us! we will give you the latest updates.</h4>
    <h1><span><h5><span class="badge bg-success">Until then, wish you good luck!</span></h5></span></h1>
</div>
{% endblock %}